
html{
    width: 100%;
    height: 100vh;
}

.container-home{
    background-color: #292828;
    width: 100%;
    height: 100vh;    
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

h1,#title-main{
    font-family: 'Marcellus', serif;
    font-size: 20px;
    color: #f7484e;
    display: flex;
    padding-top: 16px;
    padding-left: 150px;
}

.home-nav-links{
    color: #f7484e;
    padding: 1px;
}

#imag{
    width:500px;
    padding-left: 370px;
    padding-bottom: 28px;
}

.contenedor{
    position: relative;
    display: flex;
    text-align: center;
}
 
.texto-encima{
    position: absolute;
    font-family: 'Marcellus', serif;
    font-size: 20px;
    color: #f7484e;
    position: absolute;
    top: 5%;
    left: 640px;
    transform: translate(-50%, -50%);
}
 
.centrado{
    position: absolute;
    top: 65%;
    left: 640px;
    transform: translate(-50%, -50%);
    font-family: 'Pinyon Script', cursive;
    color: rgb(252, 250, 250);
    font-size: 40px;
}

.home-nav{
    position: absolute;
    top: 459px;
    left: 400px;
    font-family: 'Marcellus', serif;
    font-size: 16px;
}

/* segunda pagina ACERCA DE MI */

    
 #container-about-me{
    margin: 0;
    padding: 0;
    display: flex;
   
    min-height: 100vh;
}

#titulo-about{
    background:#f7484e;
    font-family: 'Pinyon Script', cursive;
    color: rgb(252, 250, 250);
    font-size: 60px;
    text-align: center;
    padding-top: 200px;
    width: 50%;
    height: 400px;
}
#foto{
    width: 150px;
    position: absolute;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    left: 560px;
    top:600px;
}

.container-titulos{
    height: 100vh;
    width: 50%;
    background: white;
    font-family: 'Marcellus', serif;
    overflow: auto;
    
}

.titulo2{
    display: flex;
    color: black;
    padding-left: 100px;
    font-size: 20px;
    font-weight: bold;
}

.descripcion{
    font-family: 'Marcellus', serif;
    color: black;
    font-size: 20px;
    display: flex;
    padding-left: 250px;
    padding-top: 10px;
    
}

.descripcion-demi{
    font-family: 'Marcellus', serif;
    color: black;
    font-size: 18px;
    text-align: justify;
    display: flex;
    margin-right: 60px;
    padding-left: 120px;
    padding-top: 10px;
}
#home-nav2{
    position: absolute;
    top: 1060px;
    left: 90px;
    font-family: 'Marcellus', serif;
    font-size: 16px;
    
    }
.home-nav-links2{
    color:rgb(250, 248, 248);  
}
/* tercera pagina PROTECTOS*/
#proyects{
    background-color: #d2a9c0;
    display: flex;
}
.card {
    position: relative;
    width: 20rem; height: 20rem;
    perspective: 30rem;
    padding-left:170px;
    padding-top: 30px;
    margin: 30px;
}

 
.front, .back {
    position: absolute;
    width: 50%; height: 100%;
    transition: transform 1s;
    backface-visibility:hidden;
}

#front-descifradoCesar {
    background-color: #66ccff;
    background-image: url(./assets/proyectos/cesarok.png);
    background-size: contain;    
    background-repeat: no-repeat;
    height: 350px;
    width: 250px;
}

#front-dataLovers {
    background-color: #66ccff;
    background-image: url(./assets/proyectos/rickok.png);
    background-size: contain;   
    background-repeat: no-repeat; 
    height: 350px;
    width: 250px;
}
#front-redSocial {
    background-color: #66ccff;
    background-image: url(./assets/proyectos/redSocialok.png);
    background-size: contain; 
    background-repeat: no-repeat;  
    height: 350px;
    width: 250px; 
}
.back {
    background-color: #24a19c;
    transform: rotateY(180deg);
}
.card:hover .front{ transform: rotateY(180deg); 
}
.card:hover .back { transform: rotateY(360deg); 
}


/* fin de targetas */
#proyects{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

#titulo-proyectos{
    background:white;
    font-family: 'Pinyon Script', cursive;
    color:#24a19c;
    font-size: 60px;
    text-align: center;
    width: 50%;
    font-size: 60px;
    text-align: center;
    padding-top: 200px;
    width: 50%;
}

.container-titulos3{
    height: 100vh;
    width: 50%;
    font-family: 'Marcellus', serif;
    overflow: auto;
}
    
#proyect{
    width: 250px;
    height: 350px;
    padding-left: 180px;
    margin: 0em;
}
#home-nav3{
    position: absolute;
    top: 1630px;
    left: 90px;
    font-family: 'Marcellus', serif;
    font-size: 16px;
    
    }
.home-nav-links3{
    color:#24a19c;  
}
/* cuarta pagina CURSOS*/
#courses{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

#titulo-cursos{
    background-color:#a35d6a;
    font-family: 'Pinyon Script', cursive;
    color:white;
    font-size: 60px;
    text-align: center;
    width: 50%;
    font-size: 60px;
    text-align: center;
    padding-top: 200px;
    width: 50%;
}
.titulo-description{

    font-family: 'Pinyon Script', cursive;
font-size: 30px;

color: rgb(252, 250, 250);
text-align: center;
}

.description{
font-family: 'Marcellus', serif;
font-size: 10px;
color: #ffffff;
text-align: justify;
margin: 13px;

}

/* targetas */

.card-courses {
    position: relative;
    width: 20rem; height: 20rem;
    perspective: 30rem;
    padding-left:40px;
    padding-top: 30px;
    margin: 30px;
}

 
.front-courses, .back-courses {
    position: absolute;
    width: 80%; height: 80%;
    transition: transform 1s;
    backface-visibility:hidden;
}

#front-google {
   
    background-image: url(./assets/certificados/googleHtml.png);
    background-size: contain;    
    background-repeat: no-repeat;
    height: 350px;
    width: 550px;
}

#front-learn-css {
   
    background-image: url(./assets/certificados/cssLearn.png);
    background-size: contain;   
    background-repeat: no-repeat; 
    height: 350px;
    width: 550px;
}
#front-learn-html {
    
    background-image: url(./assets/certificados/htmlLearn.png);
    background-size: contain; 
    background-repeat: no-repeat;  
    height: 350px;
    width: 550px; 
}
#front-learn-jquery {
    
    background-image: url(./assets/certificados/jqueryLearn.png);
    background-size: contain; 
    background-repeat: no-repeat;  
    height: 350px;
    width: 550px; 
}
#front-learn-javascript {
 
    background-image: url(./assets/certificados/javascriptLearn.png);
    background-size: contain; 
    background-repeat: no-repeat;  
    height: 350px;
    width: 550px; 
}
#front-learn-sql {
   
    background-image: url(./assets/certificados/sqlLearn.png);
    background-size: contain; 
    background-repeat: no-repeat;  
    height: 350px;
    width: 550px; 
}
.back-courses {
    background-color: #24a19c;
    transform: rotateY(180deg);
    height: 300px;
    width: 400px;
}
.card-courses:hover .front-courses{ transform: rotateY(180deg); 
}
.card-courses:hover .back-courses { transform: rotateY(360deg); 
}




/* fin targetas */
.proyect-git{
    font-size: 16px;
    color: #ffffff;
font-family: 'Pinyon Script', cursive;
margin: 16px;
padding: 2px;
    text-align: center;
}

.container-titulos4{
    height: 100vh;
    width: 50%;
    background-color: white;
    font-family: 'Marcellus', serif;
    overflow: auto;
}

#certi{
    width: 500px;
    height: 350px;
    padding-left: 70px;
    margin: 0em;
}
#home-nav4{
    position: absolute;
    top: 2200px;
    left: 90px;
    font-family: 'Marcellus', serif;
    font-size: 16px;
    
    }
.home-nav-links4{
    color:rgb(250, 246, 246);  
}

/* quinta pagina SKILLS*/
#skills{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}
.skillss{
    display: flex;
    padding-left: 70px;
    padding-top: 20px;
}
progress{
    display: flex;
    padding-top: 40px;
    color: #f7484e;
}

#titulo-skills{
    background-color:white;
    font-family: 'Pinyon Script', cursive;
    color:#f7484e;
    font-size: 60px;
    text-align: center;
    width: 50%;
    font-size: 60px;
    text-align: center;
    padding-top: 200px;
    width: 50%;
}

.container-titulos5{
    height: 100vh;
    width: 50%;
    background-color: #8675a9;
    font-family: 'Marcellus', serif;
    overflow: auto;
}
   
#skills1{
    width: 50px;
    margin: 20px;
    padding-left: 10px;
}
#home-nav5{
    position: absolute;
    top: 2770px;
    left: 90px;
    font-family: 'Marcellus', serif;
    font-size: 16px;
    
    }
.home-nav-links5{
    color:#f7484e;  
}

/* QUITA PAGINA  CONTACTO*/
.contactss1{
    display: flex;
    padding-top: 400px;
    padding-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactss1 a .contactos{
   padding: 20px;
    
    width: 30px;
}
#contact{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

#titulo-contact{
    background-color:rgb(105, 4, 4);
    font-family: 'Pinyon Script', cursive;
    color:rgb(250, 250, 250);
    font-size: 60px;
    text-align: center;
    width: 50%;
    font-size: 60px;
    text-align: center;
    padding-top: 200px;
    width: 50%;
}

.container-titulos6{
    height: 100vh;
    width: 50%;
    background-image:url(./assets/mexico.jpg) ;
    background-repeat: no-repeat;
    font-family: 'Marcellus', serif;
    overflow: auto;
    display: flex;
}
   

#home-nav6{
    position: absolute;
    top: 3340px;
    left: 90px;
    font-family: 'Marcellus', serif;
    font-size: 16px;
    
    }
.home-nav-links6{
    color:rgb(250, 249, 249);  
}
/* SEITIMA PAGINA FIN */
#end{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background-color: #292828;
    font-family: 'Pinyon Script', cursive;
}

.titulo-end{
    font-size: 50px;
    color: #f7484e;
    padding-left: 600px;
    padding-top: 200px;
    font-family: 'Pinyon Script', cursive;
}
.imag1{
    margin-top: 0em;
    width: 380px;
    display: block;
    position: absolute;
    top: 3460px;
    left: 430px;
}
#home-nav7{
    position: absolute;
    top: 3950px;
    left: 430px;
    font-family: 'Marcellus', serif;
    font-size: 16px;
    
    }
.home-nav-links7{
    color: #f7484e;  
}

@media (min-width: 1300px){
    #foto{
        width: 150px;
       left: 580px;
        top:580px;
    }
    #home-nav3{
        position: absolute;
        top: 1660px;
        left: 90px;
        font-family: 'Marcellus', serif;
        font-size: 16px;
        
        }

        #home-nav4{
            position: absolute;
            top: 2250px;
            left: 90px;
            font-family: 'Marcellus', serif;
            font-size: 16px;
            
            }

            #home-nav5{
                position: absolute;
                top: 2870px;
                left: 60px;
                font-family: 'Marcellus', serif;
                font-size: 16px;
                
                }
                #home-nav6{
                    position: absolute;
                    top: 3450px;
                    left: 60px;
                    font-family: 'Marcellus', serif;
                    font-size: 16px;
                    
                    }
                    .imag1{
                        margin-top: 0em;
                        width: 380px;
                        display: block;
                        position: absolute;
                        top: 3560px;
                        left: 430px;
                    }
                    #home-nav7{
                        position: absolute;
                        top: 4050px;
                        left: 360px;
                        font-family: 'Marcellus', serif;
                        font-size: 16px;
                        
                        }
}


/* @media (min-width: 768px){
    #container-about-me{
        margin: 0;
        padding: 0;
        display: flex;
       
        min-height: 100vh;
    } */
    /* inicio */
    /* .texto-encima{
       
        top: 5%;
        left: 390px;
        
    }
     
    .centrado{
       
        top: 65%;
        left: 400px;
       
    }
   
    .home-nav{
        position: absolute;
        top: 459px;
        left: 150px;
       
    } */
    
    /* acerca de mi  */

    /* #container-about-me{
        margin: 0;
        padding: 0;
        display: flex;
       
        min-height: 50vh;
    }
    .container-titulos{
        height: 50vh;
        width: 50%;
        background: white;
        font-family: 'Marcellus', serif;
        
        
    }

    
    #imag{
        width:500px;
        padding-left: 130px;
        padding-bottom: 28px;
    }
    #foto{
        width: 150px;
       left: 310px;
        top:580px;
    }

    .descripcion-demi{
       
        font-size: 16px;
        margin-right: 60px;
        padding-left: 50px;
        padding-top: 10px;
    }
    .descripcion{
       
        color: black;
       
        padding-left: 150px;
        padding-top: 5px;
        
    }

    #home-nav2{
        position: absolute;
        top: 1060px;
        left: 30px;
        font-family: 'Marcellus', serif;
        font-size: 12px;
        
        } */
/* proyectos */
/* #proyects{
    margin: 0;
    padding: 0;
    display: flex;
   
    min-height: 500vh;
}
.container-titulos3{
    height: 50vh;
    width: 50%;
   
    
    
}

    #home-nav3{
        position: absolute;
        top: 1660px;
        left: 90px;
        font-family: 'Marcellus', serif;
        font-size: 16px;
        
        }

        #home-nav4{
            position: absolute;
            top: 2250px;
            left: 90px;
            font-family: 'Marcellus', serif;
            font-size: 16px;
            
            }

            #home-nav5{
                position: absolute;
                top: 2870px;
                left: 60px;
                font-family: 'Marcellus', serif;
                font-size: 16px;
                
                }
                #home-nav6{
                    position: absolute;
                    top: 3450px;
                    left: 60px;
                    font-family: 'Marcellus', serif;
                    font-size: 16px;
                    
                    }
                    .imag1{
                        margin-top: 0em;
                        width: 380px;
                        display: block;
                        position: absolute;
                        top: 3560px;
                        left: 430px;
                    }
                    #home-nav7{
                        position: absolute;
                        top: 4050px;
                        left: 360px;
                        font-family: 'Marcellus', serif;
                        font-size: 16px;
                        
                        }
                        .card {
                    
                            padding-left:40px;
                            padding-top: 30px;
                            margin: 30px;
                        }

                        front, .back {
                            position: absolute;
                            width: 70%; height: 100%;
                            transition: transform 1s;
                            backface-visibility:hidden;
                        }
                        

} */
@media (min-width: 370px){

}